button {
    border: none;
    background-color: #5A6771;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: #6B7783;

}

.equals {
    background-color: limegreen;
}

.equals:hover {
    background-color: lightgreen;
}

.operation {
    background-color: darkorange;
}

.operation:hover {
    background-color: orange;
}

.cBtn{
    background-color: red;
}

.cBtn:hover {
    background-color: orangered;
}

.helpBtn{
    width: 100px;
    height: 100px;
    background-color: #3498db;
}

.otherBtn{
    width: 100px;
    height: 100px;
    background-color: #8e44ad;
}

.otherBtn:hover{
    background-color: #9b59b6;
}

.specialBtn{
    width: 80px;
    height: 60px;
    background-color: #8e44ad;
}

.specialBtn:hover{
    background-color: #9b59b6;
}