.field {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.field-label {
    font-weight: bold;
    color: white;
}

.field-input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}