.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.field-label {
    flex : 1;
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.field-input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}