.screen {
    height: 100px;
    width: calc(100% - 220px);
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
}

.screen-text {
    font-size: clamp(1rem, 5vw, 3rem); /* taille qui s'adapte */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}